<div class="row">
  <div class="col-sm-12">

  <div class="card text-center">
    <div class="card-header">
     <h1>Welcome to Task Manager (SPA)</h1> 
    </div>
    <nav class="nav">
        <a class="nav-link active" routerLink="/addtask">Add Task</a>
        <a class="nav-link" routerLink="/viewtask">View Task</a>       
      </nav>
    <div class="card-body" style="min-height:500px">
        <router-outlet></router-outlet>      
    </div>
    <div class="card-footer text-muted">
     @Suheel M
    </div>
  </div>
</div>

