<div class='card'>
    <div class='card-header' style="font-weight: bold">
     Task List
    </div>
    <div class='card-body'>
      <fieldset class="the-fieldset" style="align-content: center">
        <legend class="the-legend">Search Tasks</legend>
        <div class='row p-2'>
          <div class='col-md-2'>Search by Project:</div>
          <div class='col-md-2'>
            <input type='text'
                  [(ngModel)]='taskFilter' />
          </div>   
        </div>
        <div class='row p-2'>
          <div class='col-md-2'>
            Sort By:
        </div>
        <div class='col-md-2'>
            <a  (click)='onSort(1)' class="btn btn-info btn-sm">
                Start Date
              </a>
        </div>
        <div class='col-md-2'>
            <a  (click)='onSort(2)' class="btn btn-info btn-sm">
                End Date
              </a>
        </div>
        <div class='col-md-2'>
            <a  (click)='onSort(3)' class="btn btn-info btn-sm">
                Priority
              </a>
        </div>     
        <div class='col-md-2'>
          <a  (click)='onSort(4)' class="btn btn-info btn-sm">
              Completed
            </a>
      </div>    
        </div>       
      </fieldset>
      <div class="p-2"></div>      
      <div class='table-responsive'>
        <table class='table'
              *ngIf='tasks && tasks.length'>
          <thead>
            <tr>
                <th>Task</th>
                <th>Parent</th>
                <th>Project Name</th>
                <th>Priority</th>
                <th>Start</th>
                <th>End</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let task of filteredTasks'>    
              <td>{{ task.TaskName }}</td> 
              <td>{{ task.ParentTaskName }}</td>      
              <td>{{ task.ProjectName }}</td>            
              <td>{{ task.Priority }}</td>          
              <td>{{ task.StartDate | date: 'MM/dd/yyyy' }}</td>          
              <td>{{ task.EndDate | date: 'MM/dd/yyyy' }}</td> 
              <td>
                <a  (click)='Delete(task)' class="btn btn-primary btn-sm">Delete
                  </a>
              </td>
              <td> 
                <a *ngIf='task.IsCompleted == false' [routerLink]="['/updatetask', task.TaskID]" style="color:black" class="btn btn-primary btn-sm">
                Edit
                </a>
              </td>
              <td>
                <a *ngIf='task.IsCompleted == false' (click)='EndTask(task)' class="btn btn-primary btn-sm">
                    End
                  </a>
                </td>               
            </tr>
          </tbody>
        </table>
      </div>     
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>